[Unit]
Description=schedule regeneration of unify-rss feeds

[Timer]
# execute every 30 mins
OnCalendar=*:*:0,30
RandomizedDelaySec=10min

#File describing job to execute
Unit=unify-rss.service

[Install]
WantedBy=timers.target

# See e.g. https://opensource.com/article/20/7/systemd-timers
#          https://fedoramagazine.org/systemd-timers-for-scheduling-tasks/
	   